body {
    font-family: Arial;
    background: #020617;
    color: white;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th, td {
    border: 1px solid #334155;
    padding: 12px;
    text-align: center;
  }
  
  th {
    background: #1e293b;
  }
  
  tr:nth-child(even) {
    background: #0f172a;
  }
  