body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

video,
canvas {
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
}

canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#status {
  font-size: 20px;
  margin-top: 15px;
}
